<!-- Header -->
<header class="header">
    <div class="header-top bg-solid-color sm-text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="social-icons icon-brown small m-0">
                        <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <ul class="list-inline sm-text-center text-right mt-5">
                        <li class="pl-10 pr-10">
                            <i class="fa fa-phone text-red"></i> <a class="text-gray" href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">123-456-789</a>
                        </li>
                        <li class="pl-10 pr-10">
                            <i class="fa fa-clock-o text-red"></i> Mon-Fri 8:00 to 2:00
                        </li>
                        <li class="pl-10 pr-10">
                            <i class="fa fa-envelope-o text-red"></i> <a class="text-gray" href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">contact@yourdomain.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed" data-bg-color="#fff" style="z-index: auto; position: static; top: auto; background: rgb(255, 255, 255) !important;">
            <div class="container">
                <nav>
                    <div id="menuzord-right" class="menuzord red menuzord-responsive"><a href="javascript:void(0)" class="showhide" style="display: none;"><em></em><em></em><em></em></a>
                        <a class="menuzord-brand" href="javascript:void(0)"><img src="./MrLaw- Attorney & Lawyer Business Template_files/logo-wide.png" alt=""></a>
                        <ul class="menuzord-menu menuzord-right menuzord-indented scrollable" style="max-height: 400px;">
                            <li class="current active"><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#home">Home<span class="indicator"><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown" style="right: auto;">
                                    <li><a href="./MrLaw- Attorney & Lawyer Business Template_files/MrLaw- Attorney &amp; Lawyer Business Template.html">Multipage Layout1</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout2.html">Multipage Layout2</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout3.html">Multipage Layout3</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout4.html">Multipage Layout4</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-sp-layout1.html">Singlepage Layout1</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-sp-layout2.html">Singlepage Layout2</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-sp-layout3.html">Singlepage Layout3</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-sp-layout4.html">Singlepage Layout4</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/minimal-mp-index1.html">Minimal Multipage</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/minimal-sp-index1.html">Minimal Singlepage</a></li>
                                </ul>
                            </li>
                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Practice Areas<span class="indicator"><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown" style="right: auto; display: none;">
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Practice Area Style1<span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-practice-area1-2column.html">2 Columns</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-practice-area1-3column.html">3 Columns</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-practice-area1-4column.html">4 Columns</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Practice Area Style2<span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-practice-area2-2column.html">2 Columns</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-practice-area2-3column.html">3 Columns</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-practice-area2-4column.html">4 Columns</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Practice Area Style3<span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="dropdown" style="">
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-practice-area3-3column.html">3 Columns</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-practice-area3-4column.html">4 Columns</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-practice-area-details.html">Practice Area Details</a></li>
                                </ul>
                            </li>
                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Pages<span class="indicator"><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown" style="right: auto; display: none;">
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">About<span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="dropdown" style="">
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-about1.html">About Style1</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-about2.html">About Style2</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-about3.html">About Style3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Services<span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="dropdown" style="">
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-services1.html">Services Style1</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-services2.html">Services Style2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Pricing<span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="dropdown" style="">
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-pricing1.html">Pricing Style1</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-pricing2.html">Pricing Style2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-about4.html">Page with Sidebar<span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-sidebar-right.html">Page Right Sidebar</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-sidebar-left.html">Page Left Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Gallery<span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-gallery-3column.html">3 Columns</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-gallery-4column.html">4 Columns</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-gallery-5column.html">5 Columns</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-404.html">Page 404</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-coming-soon.html">Coming Soon</a></li>
                                </ul>
                            </li>
                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Attorneys<span class="indicator"><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown" style="right: auto; display: none;">
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Attorney Style1<span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-attorny1-3column.html">3 Columns</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-attorny1-4column.html">4 Columns</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Attorney Style2<span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="dropdown" style="display: none;">
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-attorny2-3column.html">3 Columns</a></li>
                                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-attorny2-4column.html">4 Columns</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-attorny3.html">Attorney Style3</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-attorney-details.html">Attorney Details</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)">News<span class="indicator"><i class="fa fa-angle-down"></i></span></a>
                                <div class="megamenu" style="right: 0px;">
                                    <div class="megamenu-row">
                                        <div class="col3">
                                            <ul class="list-unstyled list-dashed">
                                                <li>
                                                    <h5 class="pl-10"><strong>News Layouts:</strong></h5></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/news-1-column.html">News 1 Column</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/news-2-column.html">News 2 Columns</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/news-3-column.html">News 3 Columns</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/news-4-column.html">News 4 Columns</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/news-single-right-sidebar.html">Single Page Right Sidebar</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/news-single-left-sidebar.html">Single Page Left Sidebar</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/news-single-both-sidebar.html">Single Page Both Sidebar</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/news-single-no-sidebar.html">Single Page No Sidebar</a></li>
                                            </ul>
                                        </div>
                                        <div class="col5">
                                            <h5 class=""><strong>Featured News:</strong></h5>
                                            <article class="post clearfix">
                                                <div class="entry-header">
                                                    <div class="post-thumb"> <img class="img-responsive" src="./MrLaw- Attorney & Lawyer Business Template_files/blog-1-col-img1.jpg" alt=""> </div>
                                                    <h4 class="entry-title"><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Bankruptcy Rights Proceedings</a></h4>
                                                </div>
                                                <div class="entry-content">
                                                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua</p>
                                                    <a class="font-13" href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">read more..</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col4">
                                            <h5 class=""><strong>Latest News:</strong></h5>
                                            <div class="list-dashed">
                                                <article class="post media-post clearfix pb-0 mb-10">
                                                    <a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#" class="post-thumb"><img alt="" src="./MrLaw- Attorney & Lawyer Business Template_files/square1.jpg"></a>
                                                    <div class="post-right">
                                                        <h5 class="post-title mt-0"><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Bankruptcy Rights Proceedings</a></h5>
                                                        <p>Oct 23, 2015</p>
                                                    </div>
                                                </article>
                                                <article class="post media-post clearfix pb-0 mb-10">
                                                    <a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#" class="post-thumb"><img alt="" src="./MrLaw- Attorney & Lawyer Business Template_files/square2.jpg"></a>
                                                    <div class="post-right">
                                                        <h5 class="post-title mt-0"><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Assertive and Persistent Advocacy</a></h5>
                                                        <p>Jun 23, 2015</p>
                                                    </div>
                                                </article>
                                                <article class="post media-post clearfix pb-0 mb-10">
                                                    <a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#" class="post-thumb"><img alt="" src="./MrLaw- Attorney & Lawyer Business Template_files/square3.jpg"></a>
                                                    <div class="post-right">
                                                        <h5 class="post-title mt-0"><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Government Contracts Procurement</a></h5>
                                                        <p>Apr 15, 2015</p>
                                                    </div>
                                                </article>
                                                <article class="post media-post clearfix pb-0 mb-10">
                                                    <a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#" class="post-thumb"><img alt="" src="./MrLaw- Attorney & Lawyer Business Template_files/square2.jpg"></a>
                                                    <div class="post-right">
                                                        <h5 class="post-title mt-0"><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Criminal Defence Advocacy</a></h5>
                                                        <p>Mar 08, 2015</p>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/index-mp-layout1.html#">Contact<span class="indicator"><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown" style="right: auto;">
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-contact1.html">Contact Style1</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-contact2.html">Contact Style2</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-contact3.html">Contact Style3</a></li>
                                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-contact4.html">Contact Style4</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)">Shortcodes<span class="indicator"><i class="fa fa-angle-down"></i></span></a>
                                <div class="megamenu" style="right: 0px;">
                                    <div class="megamenu-row">
                                        <div class="col3">
                                            <ul class="list-unstyled list-dashed">
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-accordion.html"><i class="fa fa-server"></i> Accordion</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-alerts.html"><i class="fa fa-bell-o"></i> Alerts</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-buttons.html"><i class="fa fa-link"></i> Buttons</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-call-to-actions.html"><i class="fa fa-minus"></i> Call To Actions</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-clients.html"><i class="fa fa-user"></i> Clients</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-columns.html"><i class="fa fa-bars"></i> Columns</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-divider.html"><i class="fa fa-indent"></i> Divider</a></li>
                                            </ul>
                                        </div>
                                        <div class="col3">
                                            <ul class="list-unstyled list-dashed">
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-font-icons.html"><i class="fa fa-facebook"></i> Font Icons</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-forms.html"><i class="fa fa-newspaper-o"></i> Forms</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-funfacts.html"><i class="fa fa-flag-o"></i> Funfacts</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-iconbox.html"><i class="fa fa-lightbulb-o"></i> Icon Box</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-maps.html"><i class="fa fa-map-marker"></i> Maps</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-media-embed.html"><i class="fa fa-play-circle-o"></i> Media Embed</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-pricing-tables.html"><i class="fa fa-usd"></i> Pricing Tables</a></li>
                                            </ul>
                                        </div>
                                        <div class="col3">
                                            <ul class="list-unstyled list-dashed">
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-progressbar.html"><i class="fa fa-circle-o-notch"></i> Progress Bars</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-sitemap.html"><i class="fa fa-binoculars"></i> Sitemap</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-sliders.html"><i class="fa fa-sliders"></i> Sliders</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-social-icons.html"><i class="fa fa-share-alt"></i> Social Icons</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-tabs.html"><i class="fa fa-table"></i> Tabs</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-attorney.html"><i class="fa fa-users"></i>Attorneys</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-testimonials.html"><i class="fa fa-thumbs-up"></i> Testimonials</a></li>
                                            </ul>
                                        </div>
                                        <div class="col3">
                                            <ul class="list-unstyled list-dashed">
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-title.html"><i class="fa fa-pencil"></i> Title</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-twitter.html"><i class="fa fa-twitter"></i> Twitter</a></li>
                                                <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/shortcode-typography.html"><i class="fa fa-header"></i> Typography</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="scrollable-fix"></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div style="display: none; width: 1270px; height: 70px; float: none;"></div>
    </div>
</header>
