  <!-- Header -->
  <header class="header">
    <div class="header-top bg-solid-color sm-text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <ul class="social-icons icon-brown small m-0">
              <li><a href="index-mp-layout1.html#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="index-mp-layout1.html#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="index-mp-layout1.html#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
          <div class="col-md-9">
            <ul class="list-inline sm-text-center text-right mt-5">
              <li class="pl-10 pr-10">
                <i class="fa fa-phone text-red"></i> <a class="text-gray" href="index-mp-layout1.html#">123-456-789</a>
              </li>
              <li class="pl-10 pr-10">
                <i class="fa fa-clock-o text-red"></i> Mon-Fri 9:00 AM to 9:00 PM
              </li>
              <li class="pl-10 pr-10">
                <i class="fa fa-envelope-o text-red"></i> <a class="text-gray" href="mailto:legal@titusandco.com">legal@titusandco.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed" data-bg-color="#fff">
        <div class="container">
          <nav>
            <div id="menuzord-right" class="menuzord red">
              <a class="menuzord-brand" href="javascript:void(0)"><img src="{echo CDN}images/logo-wide.png" alt=""></a>
              <ul class="menuzord-menu">
                <li class=""><a href="/home">Home</a></li>
                <li class=""><a href="/AboutUs">Home</a></li>
                <li><a href="index-mp-layout1.html#">Pages</a>
                  <ul class="dropdown">
                    <li><a href="/AboutUs">About</a></li>
                    <li><a href="index-mp-layout1.html#">Services</a>
                      <ul class="dropdown">
                        <li><a href="page-services1.html">Services Style1</a></li>
                        <li><a href="page-services2.html">Services Style2</a></li>
                      </ul>
                    </li>
                    <li><a href="index-mp-layout1.html#">Pricing</a>
                      <ul class="dropdown">
                        <li><a href="page-pricing1.html">Pricing Style1</a></li>
                        <li><a href="page-pricing2.html">Pricing Style2</a></li>
                      </ul>
                    </li>
                    <li><a href="http://kodesolution.com/demo/corporate/mrlaw-html/page-about4.html">Page with Sidebar</a>
                      <ul class="dropdown">
                        <li><a href="page-sidebar-right.html">Page Right Sidebar</a></li>
                        <li><a href="page-sidebar-left.html">Page Left Sidebar</a></li>
                      </ul>
                    </li>
                    <li><a href="index-mp-layout1.html#">Gallery</a>
                      <ul class="dropdown">
                        <li><a href="page-gallery-3column.html">3 Columns</a></li>
                        <li><a href="page-gallery-4column.html">4 Columns</a></li>
                        <li><a href="page-gallery-5column.html">5 Columns</a></li>
                      </ul>
                    </li>
                    <li><a href="page-404.html">Page 404</a></li>
                    <li><a href="page-coming-soon.html">Coming Soon</a></li>
                  </ul>
                </li>
                <li><a href="index-mp-layout1.html#">Attorneys</a>
                  <ul class="dropdown">
                    <li><a href="index-mp-layout1.html#">Attorney Style1</a>
                      <ul class="dropdown">
                        <li><a href="page-attorny1-3column.html">3 Columns</a></li>
                        <li><a href="page-attorny1-4column.html">4 Columns</a></li>
                      </ul>
                    </li>
                    <li><a href="index-mp-layout1.html#">Attorney Style2</a>
                      <ul class="dropdown">
                        <li><a href="page-attorny2-3column.html">3 Columns</a></li>
                        <li><a href="page-attorny2-4column.html">4 Columns</a></li>
                      </ul>
                    </li>
                    <li><a href="page-attorny3.html">Attorney Style3</a></li>
                    <li><a href="page-attorney-details.html">Attorney Details</a></li>
                  </ul>
                </li>
                <li><a href="javascript:void(0)">News</a>
                  <div class="megamenu">
                    <div class="megamenu-row">
                      <div class="col3">
                        <ul class="list-unstyled list-dashed">
                          <li><h5 class="pl-10"><strong>News Layouts:</strong></h5></li>
                          <li><a href="news-1-column.html">News 1 Column</a></li>
                          <li><a href="news-2-column.html">News 2 Columns</a></li>
                          <li><a href="news-3-column.html">News 3 Columns</a></li>
                          <li><a href="news-4-column.html">News 4 Columns</a></li>
                          <li><a href="news-single-right-sidebar.html">Single Page Right Sidebar</a></li>
                          <li><a href="news-single-left-sidebar.html">Single Page Left Sidebar</a></li>
                          <li><a href="news-single-both-sidebar.html">Single Page Both Sidebar</a></li>
                          <li><a href="news-single-no-sidebar.html">Single Page No Sidebar</a></li>
                        </ul>
                      </div>
                      <div class="col5">
                        <h5 class=""><strong>Featured News:</strong></h5>
                        <article class="post clearfix">
                          <div class="entry-header">
                            <div class="post-thumb"> <img class="img-responsive" src="images/blog-landing/blog-1-col-img1.jpg" alt=""> </div>
                            <h4 class="entry-title"><a href="index-mp-layout1.html#">Bankruptcy Rights Proceedings</a></h4>
                          </div>
                          <div class="entry-content">
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua</p>
                            <a class="font-13" href="index-mp-layout1.html#">read more..</a>
                          </div>
                        </article>
                      </div>
                      <div class="col4">
                        <h5 class=""><strong>Latest News:</strong></h5>
                        <div class="list-dashed">
                          <article class="post media-post clearfix pb-0 mb-10">
                            <a href="index-mp-layout1.html#" class="post-thumb"><img alt="" src="images/blog/square1.jpg"></a>
                            <div class="post-right">
                              <h5 class="post-title mt-0"><a href="index-mp-layout1.html#">Bankruptcy Rights Proceedings</a></h5>
                              <p>Oct 23, 2015</p>
                            </div>
                          </article>
                          <article class="post media-post clearfix pb-0 mb-10">
                            <a href="index-mp-layout1.html#" class="post-thumb"><img alt="" src="images/blog/square2.jpg"></a>
                            <div class="post-right">
                              <h5 class="post-title mt-0"><a href="index-mp-layout1.html#">Assertive and Persistent Advocacy</a></h5>
                              <p>Jun 23, 2015</p>
                            </div>
                          </article>
                          <article class="post media-post clearfix pb-0 mb-10">
                            <a href="index-mp-layout1.html#" class="post-thumb"><img alt="" src="images/blog/square3.jpg"></a>
                            <div class="post-right">
                              <h5 class="post-title mt-0"><a href="index-mp-layout1.html#">Government Contracts Procurement</a></h5>
                              <p>Apr 15, 2015</p>
                            </div>
                          </article>
                          <article class="post media-post clearfix pb-0 mb-10">
                            <a href="index-mp-layout1.html#" class="post-thumb"><img alt="" src="images/blog/square2.jpg"></a>
                            <div class="post-right">
                              <h5 class="post-title mt-0"><a href="index-mp-layout1.html#">Criminal Defence Advocacy</a></h5>
                              <p>Mar 08, 2015</p>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li><a href="/ContactUs">Contact</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  