<!-- Header -->
<header class="header">
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed" data-bg-color="#fff">
            <div class="container">
                <nav>
                    <div id="menuzord-right" class="menuzord red">
                        <a class="menuzord-brand" href="javascript:void(0)"><img src="{echo CDN}img/wide-logo.png" alt="Titus and Co"></a>
                        <ul class="menuzord-menu">
                            <li class=""><a href="/home">Home</a></li>
                            <li class=""><a href="/memberships">Memberships</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
