<h3 class="page-header">Awards and Recognitions</h3>
<ul>
    <li>Titus & Co is recognized and awarded by the Government of India, India Business Law Journal, Asia- Pacific Legal 500, Chambers and Partners, IFLR 1000, Asia Law and Practice, The Global Counsel 3000, Asia Law Profiles, Who's Who Legal, Which Lawyer PLC and Business Today.</li>
    <li>The National Law Day Award for 'unique achievements and leadership in the practice of corporate and commercial laws' by the Honourable President of India, Smt. Pratibha Devisingh Patil</li>
    <li>awarded Commendatore dell'Ordine della Stella della Solidarieta Italiana (Order of the Star of Italian Solidarity) by the President of Italy</li>
    <li>Star Export House status by the Ministry of Commerce and Industry, Government of India.</li>
</ul>
