<h3 class="page-header">Contacts</h3>
<div class="row col-md-12">
    <p>
        Diljeet Titus
        <br><a href="mailto:dtitus@titusindia.com">dtitus@titusindia.com</a>
    </p>
    <p>
        Baljit Singh Kalha
        <br><a href="mailto:bskalha@titusindia.com">bskalha@titusindia.com</a>
    </p>
    <p>
        R.S.Mittal
        <br><a href="mailto:rsmittal@titusindia.com">rsmittal@titusindia.com</a>
    </p>
    <p>
        Ujjwal Sharma
        <br><a href="mailto:usharma@titusindia.com">usharma@titusindia.com</a>
    </p>
</div>
