<h3 class="page-header">Contacts</h3>
<div class="row">
    <div class="col-md-3">
        Diljeet Titus
        <br><a href="mailto:dtitus@titusindia.com">dtitus@titusindia.com</a>
    </div>
    <div class="col-md-3">
        Baljit Singh Kalha
        <br><a href="mailto:bskalha@titusindia.com">bskalha@titusindia.com</a>
    </div>
    <div class="col-md-3">
        R.S.Mittal
        <br><a href="mailto:rsmittal@titusindia.com">rsmittal@titusindia.com</a>
    </div>
    <div class="col-md-3">
        Ujjwal Sharma
        <br><a href="mailto:usharma@titusindia.com">usharma@titusindia.com</a>
    </div>
</div>
