<h3 class="page-header">Introduction</h3>
<p>Titus & Co is one of India's leading and prominent full-service commercial law firms with substantial representations in transactional, tax, intellectual property, civil and criminal litigation and arbitration matters. Titus & Co represents a wide range of clients from the US, Europe, Australia and Asia, including 59 Fortune 500 Global corporations.</p>
<h4 class="page-header">Associate Offices</h4>
<div class="row">
    <div class="col-md-3">
        <ul>
            <li>New Delhi</li>
            <li>Ahmadabad</li>
            <li>Amritsar</li>
            <li>Bangalore</li>
            <li>Chandigarh</li>
            <li>Chennai</li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>Cochin</li>
            <li>Hyderabad</li>
            <li>Jabalpur</li>
            <li>Jalandhar</li>
            <li>Kolkata</li>
            <li>Mumbai</li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>Pune</li>
            <li>Colombo</li>
            <li>Dhaka</li>
            <li>Islamabad</li>
            <li>Kathmandu</li>
            <li>London</li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>Male</li>
            <li>Milan</li>
            <li>New York</li>
            <li>Rangoon</li>
            <li>Thimpu</li>
            <li>Washington</li>
        </ul>
    </div>
</div>
<br>
<h5>Languages</h5> English, French, Gujarati, Hindi, Italian, Malayalam, Punjabi, Spanish, other Indian languages
<br>
<br>
<h5 class="text-center page-header">FOUNDING MEMBER: INDIA LEGAL GROUP</h5>
<h5>Number of lawyers: 75</h5>
<h5>At New Delhi office: 45</h5>
