<div class="container">
    <div class="row">
        <div id="header">
            <h1 class="text-center">TITUS AND CO ADVOCATES</h1>
        </div>
        <div class="col-md-2" id="navigation">
            <div class="list-group text-center">
                <a href="#" class="list-group-item grey">HOME</a>
                <a href="#" class="list-group-item grey">WORK</a>
                <a href="#" class="list-group-item grey">MEMBERSHIPS</a>
                <a href="#" class="list-group-item grey">AWARDS</a>
                <a href="#" class="list-group-item grey">CONTACT</a>
            </div>
        </div>
        <div class="col-md-10">
            <h3 class="page-header">OUR SERVICES!</h3>
            <p>Titus & Co is one of India's leading and prominent full-service commercial law firms with substantial representations in transactional, tax, intellectual property, civil and criminal litigation and arbitration matters. Titus & Co represents a wide range of clients from the US, Europe, Australia and Asia, including 59 Fortune 500 Global corporations.</p>
            <br>
            <h5>Languages</h5> English, French, Gujarati, Hindi, Italian, Malayalam, Punjabi, Spanish, other Indian languages
            <br>
            <h5>Number of lawyers: 75</h5>
            <h5>At New Delhi office: 45</h5>
            <br>
            <h4>Contacts</h4>
            <p>Diljeet Titus
                <br><a href="mailto:dtitus@titusindia.com">dtitus@titusindia.com</a></p>
        </div>
    </div>
</div>