<h3 class="page-header">Memberships</h3>
<h4>Professional Membership</h4>
<div class="row">
    <div class="col-md-6">
        <ul>
            <li>Bar Council of Delhi</li>
            <li>Company Law Board Bar Association</li>
            <li>Delhi High Court Bar Association</li>
            <li>Founding Member, India Legal Group.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>INSOL India</li>
            <li>Indian Council of Arbitration</li>
            <li>Life Member, Supreme Court Bar Association</li>
            <li>Society of Indian Law Firms</li>
        </ul>
    </div>
</div>
<h4>Industry Association Membership</h4>
<div class="row">
    <div class="col-md-6">
        <ul>
            <li>Associated Chambers of Commerce and Industry in India</li>
            <li>Confederation of Indian Industry</li>
            <li>Canada India Business Council</li>
            <li>Federation of Indian Chambers of Commerce and Industry</li>
            <li>Federation of Indian Export Organizations</li>
            <li>ICC India</li>
            <li>Indo-Italian Chamber of Commerce and Industry</li>
            <li>India Israel Business Alliance</li>
            <li>India Trade Promotion Organization</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>Indo American Chamber of Commerce</li>
            <li>Indo-German Chamber of Commerce</li>
            <li>Joint Business Councils</li>
            <li>National Centre for Trade Information</li>
            <li>PHD Chamber of Commerce and Industry</li>
            <li>Swiss Business Forum</li>
            <li>TiE</li>
            <li>The Council of EU Chamber of Commerce in India</li>
            <li>Policy and Planning Group</li>
        </ul>
    </div>
</div>
<h4>International Groupings</h4>
<div class="row">
    <div class="col-md-6">
        <ul>
            <li>Association of Trial Lawyers of America</li>
            <li>Inter-Pacific Bar Association</li>
            <li>International Bar Association</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>Licensing Executives Society</li>
            <li>The Association of European Lawyers (AEA International)</li>
            <li>US India Business Council</li>
        </ul>
    </div>
</div>
