<h3 class="page-header">Categories of Work</h3>
<div class="row">
    <div class="col-md-4">
        <ul>
            <li>Admiralty, Maritime and Shipping</li>
            <li>Anti-trust and Competition</li>
            <li>Arbitration, Dispute Avoidance and Resolution (domestic/international)</li>
            <li>Aviation</li>
            <li>Anti Bribery</li>
            <li>Banking and Finance</li>
            <li>Biotechnology and Life Sciences</li>
            <li>Capital Markets and Securities</li>
            <li>Commercial Litigation</li>
            <li>Corporate Governance, Compliance and Legal Audits</li>
            <li>Criminal Litigation</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Data Protection</li>
            <li>Employment & Labor</li>
            <li>Energy & Infrastructure</li>
            <li>Environment and Resources</li>
            <li>Food and Drug Laws</li>
            <li>Franchising and Licensing</li>
            <li>Insurance</li>
            <li>Intellectual Property, Comparative Advertising and Anti-Counterfeiting</li>
            <li>International Trade and Anti-dumping</li>
            <li>Media and Entertainment</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Mergers, Acquisitions, Takeovers, Corporate Restructuring, Project Finance</li>
            <li>Public International Law</li>
            <li>Real Estate and Construction</li>
            <li>Regulatory and Government Affairs</li>
            <li>Risk Analysis</li>
            <li>Sports Law</li>
            <li>Tax (Direct & Indirect) </li>
            <li>Telecommunications, IT and Outsourcing</li>
            <li>Venture Capital and Private Equity</li>
            <li>White Collar Corporate Crime & Investigation</li>
        </ul>
    </div>
</div>
